# Exercícios - Estatística

Alguns exercícios do livro Estatística Básica do Morettin e Bussab. Escolhidos durante o momento de estudos, sem um critério definido, apenas para exercitar os cálculos e conceitos, usando alguma ferramenta digital mais interessante para executá-los.

In [43]:
import pandas as pd
import math

#### Capítulo 4 - Exercício 9

A Companhia A de dedetização afirma que o processo por ela utilizado garante um efeito mais prolongado do que aquele obtido por seus concorrentes mais diretos. Uma amostra de vários ambientes dedetizados foi colhida e anotou-se a duração do efeito de dedetização.

Os resultados estão na tabela abaixo. Você acha que existe alguma evidência a favor ou contra a afirmação feita pela Companhia A?

In [33]:
import pandas as pd

# Dados
data = [[64, 120, 16], [104, 175, 21], [27, 48, 5]]
index = ['A', 'B', 'C']
columns = ['Menos de 4 meses', 'De 4 a 8 meses', 'Mais de 8 meses']

# Criando DataFrame
df = pd.DataFrame(data=data, index=index, columns=columns)

# Adicionando coluna Total
df['Total'] = df.sum(axis=1)

# Dados originais

df

   Menos de 4 meses  De 4 a 8 meses  Mais de 8 meses  Total
A                64             120               16    200
B               104             175               21    300
C                27              48                5     80

In [35]:
# Criando cópia

df_copy = df.copy()

# Calculando valores relativos do Total
df_copy.iloc[:, 3] = df_copy.iloc[:, 3] / df_copy.iloc[:, 3].sum()

# Procurando valores esperados

for i in range(3):
    df_copy.iloc[:, i] = df_copy.iloc[:, i].sum() * df_copy.iloc[:, 3]

# Mantendo Total absoluto

df_copy.iloc[:, 3] = df.iloc[:, 3]

df_copy

   Menos de 4 meses  De 4 a 8 meses  Mais de 8 meses  Total
A         67.241379      118.275862        14.482759    200
B        100.862069      177.413793        21.724138    300
C         26.896552       47.310345         5.793103     80

In [44]:
qui_2 = 0

for i in range(3):
    for j in range(3):
        
        qui_2 += ((df.iloc[i, j] - df_copy.iloc[i, j])**2)/df_copy.iloc[i, j]

print(f'Qui² = {qui_2}')

n = 9 
C = math.sqrt(qui_2/(qui_2 + 9))
T = math.sqrt((qui_2/n)/((3 - 1)*(3 - 1)))

print(f'C = {C}')
print(f'T = {T}')

Qui² = 0.6139673818245236
C = 0.25270935969846636
T = 0.13059345119540128

Com valores baixos para os coeficientes, entende-se que a marca não influencia de maneira significativa a duração do efeito, contrariando a afirmação da Companhia A.